<h1>Bem vindo ao ecommerce!</h1>

<h2>Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      - <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>