<h1 class="text-center my-4">Seu Carrinho</h1>
<ul class="list-group">
    <% @cart.each do |product| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><%= render product %></span>
          <%= button_to "Remover", remove_item_cart_path(item: product.id), method: :delete, class: "btn btn-danger btn-sm" %>
        </li>
    <% end %>
</ul>
<div class="row my-5">
<span>Total: R$ <%= @total %></span>
<%= link_to "Pagar", pay_cart_path, class: "btn btn-success mt-3" %>
</div>
